*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

img {
  width: 100%;
  min-width: 300px;
  height: auto;
  display: block;
}

ul[class] {
  list-style: none;
  padding: 0;
}

body {
  font-family: 'Exo', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  text-align: center;
}

.bg-light {
  background: rgba(243, 211, 199, 0.42);
}

/* HEADER */
.header {
  padding: 4em 0;
  line-height: 1;
}

.header > * + * {
  margin-top: 2em;
}

.logo {
  font-size: clamp(3.5rem, 5vw, 5.5rem);
  font-weight: 400;
  position: relative;
}

.header-body > * + * {
  margin-top: 1em;
}

.body-title {
  font-weight: 400;
}

.body-subtitle {
  line-height: 1.4;
  max-width: 750px;
  margin: 1em auto;
}

.contact-link {
  color: black;
  text-decoration: none;
  font-weight: 700;
  position: relative;
}

.btn::after,
.contact-link::after {
  content: "";
  position: absolute;
  height: .75em;
  width: 95%;
  left: -2.5%;
  top: 45%;
  z-index: -1;
  background-color: rgba(243, 211, 199);
  transition: transform 175ms cubic-bezier(.37,-0.41,.69,1.54);
  transform-origin: bottom left;
}

.btn:hover::after,
.btn:focus::after,
.contact-link:hover::after,
.contact-link:focus::after {
  transform: scale(1.2, 1.85)
}


/* PORTFOLIO PIECES */
.wrapper {
  /* border: solid red 2px;  */
  padding: 3.5rem 0;
} 

.wrapper .row {
  display: grid;
  grid-template-areas:
      " portfolio-img"
      " col ";
  justify-items: center;
} 

.portfolio-img {
  border: solid 1px black;
  grid-area: portfolio-img;
}



.col {
  margin-top: 1.5rem;
  max-width: 450px;
}

.col > * + *,
.home-body > * + * {
  margin-top: 1.5rem;
}

.subtitle {
  font-size: 2.25rem;
  font-weight: 300;
}



/* CONTACT */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5em;
  padding: 5.5rem 4.5rem 4.5em 4.5rem;
}

.icons {
  display: flex;
  gap: 3.25rem;
  font-size: 2rem;
}

.icon-link {
  color: black;
  transform-origin: center;
}

.icon-link:visited {
  color: black;
}

.icon-link:hover, 
.icon-link:focus {
  transform: scale(1.5);
}

.contact-title,
.title {
  position: relative;
  display: inline-block;
  font-size: clamp(2rem, 2.5vw, 2rem);
  font-weight: 700;
  text-transform: uppercase;
}

.contact-title::after {
  position: absolute;
  content: "";
  height: 2.5%;
  display: block;
  background: black;
  width: 40vw;
  left: 50%;
  transform: translate(-50%);
  top: 50;
}

.signature {
  padding: 1em 0 2em 0;
}

.btn {
  font-size: 1.25rem;
  font-weight: 800;
  color: black;
  margin: 0 1em;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}

.bold {
  font-weight: 700;
}


@media (min-width: 820px ) {

  .home .row {
    grid-template-areas:
        " home-img home-body ";
    
  }

  .row {
    align-items: center;
  }

  .wrapper {
    padding: 0 4.25rem;
  }

  .wrapper .row {
    display: flex;
    justify-content: center;
    
  }

  .col {
    margin-top: 0;
    padding: 8.5rem 2.25rem;
  }
}





